<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>表单控件绑定</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Checkbox 绑定 Value</h2>
  <div class="row">
    <div class="col-md-2">
      升级套餐：
    </div>
    <div class="col-md-2">
      <label>
        <input
          type="checkbox"
          v-model="package"
          v-bind:true-value="privilegePkg"
          v-bind:false-value="economicalPkg"> 超值套餐
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      package: {{ package | json }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2">
      购买保险：
    </div>
    <div class="col-md-2" v-for="insuranceItem in insuranceItems">
      <label>
        <input
          type="checkbox"
          v-model="insurances"
          v-bind:value="insuranceItem">
        <span :title="insuranceItem.description">
          {{insuranceItem.name}}
        </span>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      insurances: {{ insurances | json }}
    </div>
  </div>
</div>

<script src="../js/vue.js"></script>
<script>
var privilegePkg = {
  name: '超值套餐',
  coupons: [
    '价值70元门票抵用券',
    '价值30元航空意外险',
    '价值50接送机券'
  ],
  price: 1020
}
var economicalPkg = {
  name: '经济套餐',
  coupons: [
    '价值28元酒店优惠券',
    '价值50接送机券'
  ],
  price: 990
}
var insuranceItems = [
  {
    name: '航空组合险',
    price: 40, 
    description: '航空意外伤害最高100万，指被保险人持有效机票检票并进入保单载明的合法商业运营的客运飞机客舱时起至抵达机票载明的终点离开客运飞机客舱的期间内遭受意外伤害所导致的保险责任；航班延误投保人必须乘坐投保航班且航班抵达目的地时延误3小时及以上赔偿300元；返航或备降赔偿300元；航班取消赔偿100元'
  }, {
    name: '航空意外险',
    price: 30, 
    description: '航空意外伤害保险责任320万元/航段（国航直销产品120万元/航段），指被保险人持有效机票检票并进入保单载明的合法商业运营的客运飞机客舱时起至抵达机票载明的终点离开客运飞机客舱的期间内遭受意外伤害所导致的保险责任'
  }, {
    name: '延误取消险',
    price: 20, 
    description: '投保人必须乘坐投保航班且航班抵达目的地时延误3小时及以上赔偿300元；发生返航或备降，赔偿300元；航班被取消赔偿100元'
  }, {
    name: '无忧退票险',
    price: 30, 
    description: '赔偿退票损失金额的80%，最高不超过人民币2000元'
  }
]

var vm = new Vue({
  el: 'body',
  data: {
    privilegePkg: privilegePkg,
    economicalPkg: economicalPkg,
    package: privilegePkg,
    insuranceItems: insuranceItems,
    insurances: [
      insuranceItems[1]
    ]
  }
})
</script>
</body>
</html>
